.anime-list, .manga-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.anime-list .card {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 18%, 400px);
    border-radius: 1rem;
    background-color: var(--main-aqua-color);
    padding: 2%;
    justify-items: center;
    align-content: space-between;
    margin: 1%;
    filter: grayscale(80%);
    transition: filter 300ms;
    text-align: center;
    line-gap-override: 2%;
}
.manga-list .card {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 18%, 400px);
    border-radius: 1rem;
    background-color: var(--main-magenta-color);
    padding: 2%;
    justify-items: center;
    align-content: space-between;
    margin: 1%;
    filter: grayscale(80%);
    transition: filter 300ms;
    text-align: center;
    line-gap-override: 2%;
}
.card:is(:hover, :focus){
    filter: grayscale(0%);
}
.card button{
    overflow: hidden;
}
.card button > img{
    width: 100%;
    height: 100%;
    transition: scale 500ms;
}
.card button > img:hover{
    scale: 110%;
    cursor: pointer;
}
.card h2{
    margin: (minmax 15px, 6%);
}
.card p {
    align-items: center;
    position: absolute;
    bottom: 0.25%;
    left: 25%;
    padding: 2%;
    margin: 2%;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 1rem;
    background-color: var(--main-darkpurple-color);
    padding: 2%;
    justify-items: center;
    margin: 1%;
    filter: grayscale(80%);
    transition: filter 300ms;
    text-align: center;
    z-index: 2;
}
.popup img{
    border-radius: 1rem;
    width: 100%;
}
.popup h2, h3{
    color: white;
}
.popup .synopsis {
    background-color: aliceblue;
    padding: 1%;
    border-radius: 1rem;
    font-size: large;
    box-shadow: white 0 0 12px;
}
.popup button {
    color: white;
    background-color: black;
    padding: 1% 3%;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    border: none;
    margin-top: 1%;
    
}
.popup button::after {
    content: '';
    width: 110%;
    height: 110%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba( 166, 13, 125, 1 ) 17.8%, rgba( 4, 196, 217, 1 )100.2% );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: -5%;
    top: -5%;
}
.popup button:hover {
    transform: scale(1.1);
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba( 166, 13, 125, 1 ) 17.8%, rgba( 4, 196, 217, 1 )100.2% );
    transition: 0.5s;
}
