:root {
  --main-magenta-color: #A60D7D;
  --main-darkpurple-color: #310273;
  --main-purple-color: #561AD9;
  --main-dark-color: #AB04D9;
  --main-aqua-color: #04C4D9;
  ;
}
body {
  background-image: url("./img/4258797.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Merienda', cursive;
  text-align: center;
}
nav{
  margin-top: -3%;
  background: url("./img/starry-night-sky.jpg") center bottom no-repeat;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1  ;
}
nav h1 {
  width: 100%;
  color: var(--main-darkpurple-color);
  font-size: 5rem;
  font-weight: 900;
  animation: neon 4s infinite;
  padding: 0.5%;
}
section>h2 {
  color: white;
  font-size: 2.5rem;
  text-shadow: 5px 5px 5px black,
  5px 5px 5px black,
  5px 5px 5px black;
}
.section-anime{
  margin-top: -5%;
}
section {
  padding: 6%;
}
hr{
  border: white 5px solid;
  width: 90%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  background: url("./img/starry-night-sky.jpg") center bottom no-repeat;
  color: white;
  font-size: 1.5rem;
  line-height: 150%;
}
.footer a{
  color: var(--main-dark-color);
  text-decoration: none;
  
}
.footer a:visited{
  color: var(--main-dark-color);
  text-decoration: none;
}

/* brillo y flicker */
@keyframes neon {
  0%, 38%, 41%, 59%, 61%, 100% {
    text-shadow:
    white 0 0 12px,
    var(--main-magenta-color) 0 0 24px,
    var(--main-purple-color) 0 0 36px;
  }
  40%, 60% {
    text-shadow: none;
  }
}